.question {
    text-align: center;
}

body{
    width: 375px;
    border: 1px solid black;
    height: auto;
    margin: 20px;
  }

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-color:white;
    padding: 50px;
    background-color: lightblue;
}

#issue-name{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#quiz-question{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
